* {
    padding: 0;
    margin: 0;

}

/* Code for Mobile responsiveness */





@media screen and (max-width: 576px) {

    /* NIC Main */
    .nav-left {
        margin-top: 0;
        background-color: white;
        border-radius: 10px;
        padding: 0;
    }

    .nav ul {
        margin-top: 2vh;
        padding-right: 3vw;
    }

    .nav ul li:not(first-child) {
        margin-left: 3vw;

    }

    .nav ul li:nth-child(4) {
        display: none;
    }

    .nav ul li:nth-child(5) {
        display: none;
    }

    .nav-right {
        display: flex;
        flex-direction: column;
        margin-top: -5vw;
        background-color: #FFF7E5;
        border-radius: 6px 0 0 6px;
        position: fixed;
        top: 50%;
    }

    .nav-right a {
        color: #0D0C74;
        margin-left: 2vw;
        margin-top: 2vw;
        font-size: 4.2vw;
        text-decoration: none;
        cursor: pointer;
    }

    .nicMain {
        height: 30vh;
    }

    .nicMain-left .inner {
        margin: 12vh 0 0 5vh;
    }

    .nav-left ul li a {
        font-size: 1.5vh;
        margin-top: 0;
    }

    /* Heading */
    .nicMain-left .inner h1 {
        font-size: 3.5vh;
    }

    /* Right */
    .half-circle1 {
        display: none;
    }

    .half-circle2 {
        width: 70px;
        height: 35px;
    }

    .imgYellow {
        right: 15vw;
        width: 8vw;
        height: 8vw;
    }

    .imgPink {
        width: 8vw;
        height: 8vw;
        right: 6vw;
        bottom: 2vw;
    }


    /* ------------ABOUT-------------- */
    /* LEFT */
    .aboutUs .left img {
        width: 80vw;
        height: 50vw;
        margin: 3vh;
    }

    /* Right */
    .aboutUs .right {
        margin: 5vh 0 0 0;
        color: #0D0C74;
    }
    .aboutUs .right h5{
        font-size: 2.5vw;
        margin-bottom: -4vw;
    }
    .aboutUs .right h1{
        width: 40vw;
        font-size: 4vw;
    }
    
    .aboutUs .right .abt-para {
        margin-top: -5vw;
        width: 38vw;
        line-height: 105%;
        font-family: 'Manrope-bold';
        font-weight: 600;
        font-size: 2.5vw;
        margin-bottom: -3vw;
    }
    .readMore{
        display: none;
    }
    .aboutUs .right button {
        padding: .7vw 1.8vw;
        font-size: 2vw;
    }


    /* -----------------JOIN TIC------------- */
    .join-Tic h2{
        font-size: 2.8vh;
    }
    .join-Tic .head h4 {
        font-size: 1.8vh;
        width: 60vw;
    }
    .join-Tic .box{
        margin-top: 1vh;
        flex-direction: column;
        width: 65vw;
        padding: 1vh .5vw;
    }
    .join-Tic .box button{
        margin-left: 0;
        font-weight: medium;
        font-size: large;
        padding: 1vh 2.5vh;
        font-size: 4vw;
    }


    /* --------------TESTIMONAL------------- */
    .testimonal .name{
        font-family: 'Manrope';
        font-size: 20px;
        line-height: 20px;
    }
    .testimonal-inner{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .testimonal-inner .right{
        height: 10vw;
    }
    .testimonal-inner .left h1{
        font-size: 6vw;
        width: 100%;
    }
    .testimonal-inner .left p{
        font-size: 4vw;
        width: 75%;
    }
    .testimonal {
        margin: 5% 0 0 1vw;
    }
    .testimonal-inner .right {
        width: 100%;
        margin: 0 0 0 5vw;

    }
    .testimonal .right-inner{
        top: 0;
        left: 5%;
        overflow-y: hidden;
    }
    .testimonal-inner .right .media{
        margin-top: 2vh;
    }
    .testimonal-inner .right .media img {
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
    }
    .testimonal-inner .right .media .comment{
        margin-top: -1.8vw;
    }




    /*-------------OUR IMPACT----------------- */
    .ourImpact {
        height: 100vh;
        scroll-behavior: none;
        margin: 10% 0 0 0vw;
        max-width: 100%;
    }
    
    .ourImpact h2 {
        font-size: 4vh;
        line-height: 80%;
    }
    .ourImpact-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .ourImpact-inner h1{
        margin: 2vw 0 0 0vw;
        
    }
    .ourImpact-inner p {
        margin: 0vw 0 0 0vw;
        font-size: 4vw;
        width: 80%;
    }
    

    .ourImpact-boxes {
        display: flex;
        flex-direction: column;
        margin-top: 25vw;
        margin-left: 0;
    }

    .ourImpact-boxes .box {
        margin-top: 15vh;
    }

    .ourImpact-inner h1 {
        font-size: 4vh;
    }


    /* ---------PARTNERS------------ */
    .partners .row{
        margin-top: 110vw;
        display: flex;
        flex-direction: column;
        height: 35vh;
    }
    .partn-left h1{
        font-size: 5vw;
    }
    .partn-left p{
        overflow-y: hidden;
        width: 70%;
        text-align: center;
        font-size: 3vw;
        margin-left: 0vw;
    }
    .partn-right{
        overflow-y: hidden;
    }
    .partn-right img{
        width: 50vw;
        height: 50vw;
    }

    /* ----------COMMUNITY--------- */
    .community{
        margin-top: 20vw;
        
    }
    .contactBox{
        flex-direction: column;
        justify-content: center;    
        padding: 1.5vh 3vw;
    }
    .contactBox h1{
        font-size: 8vw;
    }
    .emailBox{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        border-radius: 5px;
        padding: 1vw 4vw;
    }

    /* ----------LINKS----------- */
    .links .row{
        display: flex;
        flex-direction: column;
        height: 100vw;
    }
    .links-left h4{
        font-size: 7vw;
    }
    .links-right{
        display: none;
    }

    /* ------------FOOTER------------ */
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer img{
        width: 25vw;
        height: 20vw;
    }
    .footer-right{
        display: inline;
    }
}

